.background{
    background-image: url(pattern.png);
    background-size: cover;
}


.scritto{
    display: inline-block;
    opacity: 0.3;
}
.thebooleaners{
    display: inline-block;
    color: rgb(0, 153, 255);
}