
header{
    background-image: url(img/pattern.png);
    background-color: aquamarine;
    background-size: 10%;
}

.sfondo{
    width: 400px;
}


.scritto{
    display: inline-block;
    opacity: 0.6;
}
.thebooleaners{
    display: inline-block;
    color: rgb(0, 153, 255);
}

.data{
    opacity: 0.6;
    margin-top: 0%;
}


.foto1{
    background-image: url(img/tim-1.jpg);
    height: 300px;
    width: 500px;
    display: inline-block;
}

.foto2{
    background-image: url(img/tim-2.jpg);
    height: 300px;
    width: 450px;
    display: inline-block;
}

mark{
    background-color: #fffb00;
}

table {
    /* //STILE DELLA TABELLA */
    border:1px solid;
    width:100%;
    height:auto;
    border-collapse: collapse;
    table-layout:auto; 
    }
    
    table tr td , table tr th {
    /* //BORDI */
    border:1px solid
    }


.uno{
    background-color: rgb(25, 9, 243);
    color: white;
    font-size:18px;
    text-align: left;
}

.due{
    background-color: aqua;
    text-align: left;
    height: 80px;
}

.tre{
    background-color: white;
    text-align: left;
    height: 80px 
}

.potrebbe{
    color:gray ;
}

.immagineuno{
    background-image: url('../img/monitor.jpg');
    position: relative;
    padding: 100px;
    background-repeat: no-repeat;
}

.white{
    position: absolute;
    color: white;
    left: 0px;
    top: 0%;
    font-size: 30px;
    
}

.immaginedue{
    position: relative;
    background-image: url('../img/graph.jpg');
    padding: 100px;
    background-repeat: no-repeat;
}
